#summary_pane{
  position:relative;
  padding: 10px;
}
#drag_helper{
  width: 30px;
  height: 30px;
  overflow: hidden;
  color: transparent;
  background-color: white;
  border-radius:50%;
  margin : 0;
  padding : 0;
  border: solid 3px #0e2447;
  z-index: 100;
  opacity: 1;
}
.chunk{
  position: relative;
  padding : 10px;
  border-bottom: solid #0071aa 2px;
  border-top: solid #0071aa 2px;
  border-right: solid #0071aa 2px;
  border-left: solid #0071aa 15px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  background-color: #cccccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subject_seq{
  overflow: hidden;
  position: relative;
  padding : 10px;
  border-bottom: solid #0e2447 2px;
  border-top: solid #0e2447 2px;
  border-right: solid #0e2447 2px;
  border-left: solid #0e2447 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.position{
  width: 100%;
  position: relative;
  padding-top : 25px;
  padding-bottom: 25px;
  border-bottom: solid #0e2447 2px;
  border-top: solid #0e2447 2px;
  border-right: solid #0e2447 2px;
  border-left: solid #0e2447 15px;
  margin-bottom: 20px;
  background-color: #cccccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  overflow: hidden;
}

#Left_Title{
  color: white;
  font-size: 20px;
}

.ui-dialog-titlebar{
  height: 10px;
  display: none;
}
.ui-dialog .ui-dialog-titlebar-close{
  display: none;
}
#tutorial{
  z-index: 1000;
}
#overlay{
  visibility: hidden;
  background-color: rgba(1,1,1,0.1);
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
